
img {
    height: auto;
    width: 300px;
}

ul li {
    box-sizing: border-box;
    width: 400px;
    height: 30px;
    background-color: rgb(65, 160, 214);
    font-size: larger;
    font-weight: 800;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-left: 5px;
}

ol li {
    box-sizing: border-box;
    width: 1400px;
    height: 30px;
    background-color: rgb(55, 219, 118);
    font-weight: 800;
    margin-bottom: 8px;
    padding: 8px 2px;
}
